In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
import ast

In [2]:
problems = pd.read_csv("./../dataset/feature-extraction/problems_with_features.csv")
problems.drop(["Unnamed: 0"], axis=1, inplace=True)

# problems DataFrame
 # Moves column
problem_list = []
for problem in problems["Moves"].values:
    problem_as_lst = ast.literal_eval(problem)
    problem_list.append(problem_as_lst)
problems["Moves"] = problem_list

 # lengths_of_moves column
problem_list = []
for value in problems["lengths_of_moves"].values:
    value_correct_type = ast.literal_eval(value)
    problem_list.append(value_correct_type)
problems["lengths_of_moves"] = problem_list

 # holds column
problem_list = []
for value in problems["holds"].values:
    value_correct_type = ast.literal_eval(value)
    problem_list.append(value_correct_type)
problems["holds"] = problem_list


# list of alphabet
alphabet = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"]

grades_numeric_order = {"6B+":1,"6C":2,"6C+":3,"7A":4,"7A+":5,"7B":6,"7B+":7,"7C":8,"7C+":9,"8A":10,"8A+":11,"8B":12}


# returns euclidean distance between two holds:
def eucl_dist(hold1, hold2):
    # hold1 as numpy array
    x_coord = alphabet.index(hold1[0].upper())
    y_coord = int(hold1[1:])
    hold1_tuple = tuple((x_coord, y_coord))
    hold1 = np.array(hold1_tuple)
    
    # hold2 as numpy array
    x_coord = alphabet.index(hold2[0].upper())
    y_coord = int(hold2[1:])
    hold2_tuple = tuple((x_coord, y_coord))  
    hold2 = np.array(hold2_tuple)  
    
    # distance
    dist = np.linalg.norm(hold1-hold2)
    
    return dist

def lengths_of_moves(DataFrame):
    listOfLenDicts = []
    for i in range(DataFrame.shape[0]):  
        holds = DataFrame.loc[i]["holds"]
        lenDict = {}
        for hold1 in holds:
            for hold2 in holds:
                test_name1 = hold1 + "to" + hold2
                test_name2 = hold2 + "to" + hold1
                if (hold1 == hold2):
                    pass
                elif test_name1 in lenDict.keys():
                    pass
                elif test_name2 in lenDict.keys():
                    pass                                
                else:
                    lenDict[hold1 + "to" + hold2] = eucl_dist(hold1, hold2)
        listOfLenDicts.append(lenDict)
    DataFrame["lengths_of_moves"] = listOfLenDicts
    return DataFrame

def numeric_grades(DataFrame):
    numeric_grades = []
    for i in range(DataFrame.shape[0]):  
        grade = DataFrame.loc[i]["Grade"]
        numeric_grade = grades_numeric_order[grade]
        numeric_grades.append(1.5 ** numeric_grade)

    DataFrame["numeric_grades"] = numeric_grades
    return DataFrame


lengths_of_moves(problems)
numeric_grades(problems)

# problems.drop(["Unnamed: 0"], axis=1, inplace=True)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039
...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000

In [3]:
grades_numeric_order = {
    "6B+":1,
    "6C":2,
    "6C+":3,
    "7A":4,
    "7A+":5,
    "7B":6,
    "7B+":7,
    "7C":8,
    "7C+":9,
    "8A":10,
    "8A+":11,
    "8B":12
}


grades_numeric = {}

for grade in grades_numeric_order:
    grades_numeric[grade] = 1.5**grades_numeric_order[grade]

In [4]:
holds = pd.read_csv("./../dataset/feature-extraction/holds_with_features.csv")
holds.drop(["Unnamed: 0"], axis=1, inplace=True)

 # rotational_angle column
problem_list = []
for value in holds["rotational_angle"].values:
    value_correct_type = ast.literal_eval(value)
    problem_list.append(value_correct_type)
holds["rotational_angle"] = problem_list

 # grade_distribution column
problem_list = []
for value in holds["grade_distribution"].values:
    value_correct_type = ast.literal_eval(value)
    problem_list.append(value_correct_type)
holds["grade_distribution"] = problem_list

In [5]:
def median_grade_of_hold(name):
    grade_dist = holds.loc[holds["name"]==name, "grade_distribution"].item()
    total = []
    mean = 0
    for grade in grade_dist:
        for i in range(grade_dist[grade]):
            total.append(grades_numeric[grade])
    return total[len(total)//2]

In [6]:
def mean_grade_of_hold(name):
    grade_dist = holds.loc[holds["name"]==name, "grade_distribution"].item()
    total = 0
    mean = 0
    for grade in grade_dist:
        total += grade_dist[grade]*grades_numeric[grade]
    return total/sum(grade_dist.values())

In [7]:
def median_diff_grade_of_holds(DataFrame):
    median_diff_list = []    
    for i in range(len(DataFrame)):
        route_holds_grades = []
        holds = DataFrame.loc[i,"holds"]
        for hold in holds:
            if hold[0].islower():
                pass
            else:
                route_holds_grades.append(median_grade_of_hold(hold))
        route_holds_grades.sort()
        if len(route_holds_grades)%2 != 0:   
            median_diff_list.append(route_holds_grades[len(route_holds_grades)//2])
        else:
            median_diff_list.append((route_holds_grades[len(route_holds_grades)//2]+route_holds_grades[len(route_holds_grades)//2-1])/2)
        
    DataFrame["median_diff_holds"] = median_diff_list  
        
    return DataFrame
median_diff_grade_of_holds(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906
...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500

In [8]:
def mean_diff_grade_of_holds(DataFrame):
    mean_diff_list = []    
    for i in range(len(DataFrame)):
        route_holds_grades = []
        holds = DataFrame.loc[i,"holds"]
        for hold in holds:
            if hold[0].islower():
                pass
            else:
                route_holds_grades.append(mean_grade_of_hold(hold))
        mean_diff_list.append(sum(route_holds_grades)/len(route_holds_grades))

    DataFrame["mean_diff_holds"] = mean_diff_list  
        
    return DataFrame

mean_diff_grade_of_holds(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236
...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,6.274190
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,5.305129
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,6.059494
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,7.024749
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,9.213323

In [9]:
def mean_grade(DataFrame):
    mean_list = []
    for i in range(len(DataFrame)):
        if DataFrame.loc[i,"name"] == "H13":
            mean_list.append(0)
        else:
            mean_list.append(mean_grade_of_hold(DataFrame.loc[i,"name"]))
    DataFrame["mean_grade"] = mean_list
    return DataFrame

In [10]:
def median_grade(DataFrame):
    median_list = []
    for i in range(len(DataFrame)):
        if DataFrame.loc[i,"name"] == "H13":
            median_list.append(0)
        else:
            median_list.append(median_grade_of_hold(DataFrame.loc[i,"name"]))
    DataFrame["median_grade"] = median_list
    return DataFrame

In [11]:
problems.head()

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236

In [12]:
def force_z(DataFrame):
    force_z_0s = []
    force_z_1s = []
    force_z_2s = []
    for i in range(len(DataFrame)):
        if DataFrame.loc[i,"force_z"] == 0:
            force_z_0s.append(1)
            force_z_1s.append(0)
            force_z_2s.append(0)
        elif DataFrame.loc[i,"force_z"] == 1:
            force_z_0s.append(0)
            force_z_1s.append(1)
            force_z_2s.append(0)            
        else:
            force_z_0s.append(0)
            force_z_1s.append(0)
            force_z_2s.append(1)  
    DataFrame["force_z_0"] = force_z_0s
    DataFrame["force_z_1"] = force_z_1s   
    DataFrame["force_z_2"] = force_z_2s
    return DataFrame

In [13]:
def is_rot_angle_downwards(DataFrame):
    irad = []
    for i in range(len(DataFrame)):  
        rot_angle = DataFrame.loc[i,"rotational_angle"]
        if (4 in rot_angle) or (3 in rot_angle) or (5 in rot_angle):
            irad.append(1)
        else:
            irad.append(0)
    DataFrame["is_downwards"] = irad
    return DataFrame

In [14]:
def only_upwards(DataFrame):
    ou = []
    for i in range(len(DataFrame)): 
        rot_angle = DataFrame.loc[i,"rotational_angle"]
        if (DataFrame.loc[i,"is_downwards"] == 0) and ((not 2 in rot_angle) and (not 6 in rot_angle)):
            ou.append(1)
        else:
            ou.append(0)
    DataFrame["only_upwards"] = ou
    return DataFrame

In [15]:
def only_sideways(DataFrame):
    os = []
    for i in range(len(DataFrame)): 
        rot_angle = DataFrame.loc[i,"rotational_angle"]
        if (DataFrame.loc[i,"is_downwards"] == 0) and ((not 7 in rot_angle) and (not 0 in rot_angle) and (not 1 in rot_angle)):
            os.append(1)
        else:
            os.append(0)
    DataFrame["only_sideways"] = os
    return DataFrame

In [16]:
holds = pd.read_csv("./../dataset/feature-extraction/holds_with_features.csv")
holds.drop(["Unnamed: 0"], axis=1, inplace=True)

 # rotational_angle column
problem_list = []
for value in holds["rotational_angle"].values:
    value_correct_type = ast.literal_eval(value)
    problem_list.append(value_correct_type)
holds["rotational_angle"] = problem_list

 # grade_distribution column
problem_list = []
for value in holds["grade_distribution"].values:
    value_correct_type = ast.literal_eval(value)
    problem_list.append(value_correct_type)
holds["grade_distribution"] = problem_list

mean_grade(holds)
median_grade(holds)
force_z(holds)
is_rot_angle_downwards(holds)
only_upwards(holds)
only_sideways(holds)

,name,grade_distribution,color,black,white,yellow,force_z,rotational_angle,slopeness,mean_grade,median_grade,force_z_0,force_z_1,force_z_2,is_downwards,only_upwards,only_sideways
0,A5,"{'6B+': 5, '6C': 4, '6C+': 7, '7A': 9, '7A+': ...",white,0,1,0,0,[4],NaN,8.491378,5.062500,1,0,0,1,0,0
1,A9,"{'6B+': 2, '6C': 4, '6C+': 1, '7A': 2, '7A+': ...",black,1,0,0,1,[3],NaN,9.761043,7.593750,0,1,0,1,0,0
2,A10,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,[3],NaN,38.443359,38.443359,1,0,0,1,0,0
3,A11,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,[3],NaN,17.085938,17.085938,1,0,0,1,0,0
4,A12,"{'6B+': 0, '6C': 0, '6C+': 1, '7A': 1, '7A+': ...",white,0,1,0,0,[4],NaN,18.189593,7.593750,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,K12,"{'6B+': 1, '6C': 1, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,"[5, 3]",NaN,30.092936,25.628906,1,0,0,1,0,0
136,K13,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,[4],NaN,57.665039,57.665039,1,0,0,1,0,0
137,K14,"{'6B+': 0, '6C': 1, '6C+': 2, '7A': 0, '7A+': ...",black,1,0,0,2,[5],NaN,4.837500,3.375000,0,0,1,1,0,0
138,K16,"{'6B+': 1, '6C': 1, '6C+': 0, '7A': 0, '7A+': ...",black,1,0,0,1,[4],NaN,3.781250,2.250000,0,1,0,1,0,0
139,K18,"{'6B+': 5, '6C': 5, '6C+': 4, '7A': 4, '7A+': ...",white,0,1,0,2,[4],NaN,13.397241,7.593750,0,0,1,1,0,0

In [17]:
def downwards_count(DataFrame):
    dc = []
    for i in range(len(DataFrame)):
        count = 0
        hold_list = DataFrame.loc[i,"holds"]
        for hold in hold_list:
            if hold[0].isupper():
                value = holds[holds["name"] == hold].is_downwards.item()
                count = count + value
            else:
                pass
        dc.append(count)

    DataFrame["downwards_count"] = dc
    return DataFrame  
downwards_count(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds,downwards_count
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801,3
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319,6
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141,6
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030,7
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236,7
...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,6.274190,8
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,5.305129,7
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,6.059494,7
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,7.024749,5
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,9.213323,8

In [18]:
def only_upwards_count(DataFrame):
    ouc = []
    for i in range(len(DataFrame)):
        count = 0
        hold_list = DataFrame.loc[i,"holds"]
        for hold in hold_list:
            if hold[0].isupper():
                value = holds[holds["name"] == hold].only_upwards.item()
                count = count + value
            else:
                pass
        ouc.append(count)

    DataFrame["only_upwards_count"] = ouc
    return DataFrame  
only_upwards_count(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds,downwards_count,only_upwards_count
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801,3,1
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319,6,0
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141,6,2
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030,7,1
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,6.274190,8,0
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,5.305129,7,0
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,6.059494,7,0
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,7.024749,5,0
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,9.213323,8,0

In [19]:
def only_sideways_count(DataFrame):
    osc = []
    for i in range(len(DataFrame)):
        count = 0
        hold_list = DataFrame.loc[i,"holds"]
        for hold in hold_list:
            if hold[0].isupper():
                value = holds[holds["name"] == hold].only_sideways.item()
                count = count + value
            else:
                pass
        osc.append(count)

    DataFrame["only_sideways_count"] = osc
    return DataFrame  
only_sideways_count(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds,downwards_count,only_upwards_count,only_sideways_count
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801,3,1,0
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319,6,0,0
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141,6,2,0
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030,7,1,0
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236,7,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,6.274190,8,0,0
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,5.305129,7,0,0
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,6.059494,7,0,0
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,7.024749,5,0,0
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,9.213323,8,0,0

In [20]:
problems[problems["only_sideways_count"]>0]

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds,downwards_count,only_upwards_count,only_sideways_count
26,IMPLANTED KID,7C+,"[{'Id': 2621130, 'Description': 'B3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",430586,"[B3, D8, C11, H14, I13, K18, K10]",7,"{'B3toD8': 5.385164807134504, 'B3toC11': 8.062...",38.443359,11.390625,16.811953,5,1,1
43,PE3/1,6C,"[{'Id': 1698100, 'Description': 'E8', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",66038,"[E8, E12, F14, F10, G18, I13, J8, K5]",8,"{'E8toE12': 4.0, 'E8toF14': 6.082762530298219,...",2.250000,2.812500,6.390116,7,0,1
56,THE OLD MAN AND THE BOARD,6C,"[{'Id': 1602547, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",256493,"[F5, E10, I13, E15, D17, B18]",6,"{'F5toE10': 5.0990195135927845, 'F5toI13': 8.5...",2.250000,2.812500,5.740189,5,0,1
59,VORTEX ORIGINAL,6C,"[{'Id': 1560951, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",142730,"[F5, I11, I12, I13, F14, J8, E18]",7,"{'F5toI11': 6.708203932499369, 'F5toI12': 7.61...",2.250000,2.250000,5.531845,6,0,1
87,FORSÃ˜K 17,6B+,"[{'Id': 1556553, 'Description': 'G2', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",128535,"[G2, K5, E10, J8, I13, F14, G18]",7,"{'G2toK5': 5.0, 'G2toE10': 8.246211251235321, ...",1.500000,3.375000,6.948267,5,1,1
172,CAPPONE,7B+,"[{'Id': 1621573, 'Description': 'C5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",79055,"[C5, E14, F10, I13, K18]",5,"{'C5toE14': 9.219544457292887, 'C5toF10': 5.83...",17.085938,7.593750,11.165269,4,0,1
194,CARBON &OCK,7B,"[{'Id': 1622537, 'Description': 'D18', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",176870,"[D18, E15, F5, H12, I13, J5, K10]",7,"{'D18toE15': 3.1622776601683795, 'D18toF5': 13...",11.390625,5.062500,10.613815,6,0,1
207,IL SUONO DEL MALE,7B,"[{'Id': 1622524, 'Description': 'A14', 'IsStar...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",133992,"[A14, A18, B6, C13, F11, G2, I13, J8, J7]",9,"{'A14toA18': 4.0, 'A14toB6': 8.06225774829855,...",11.390625,5.062500,8.604259,7,1,1
209,JERBEAR,7B,"[{'Id': 1710085, 'Description': 'A18', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",23720,"[A18, D16, D10, E14, F6, I8, I13]",7,"{'A18toD16': 3.605551275463989, 'A18toD10': 8....",11.390625,7.593750,19.235161,6,0,1
216,ORIGINAL BROCCOLI BOY,7B,"[{'Id': 1622061, 'Description': 'E18', 'IsStar...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",164874,"[E18, F13, G6, J16, J10, J2]",6,"{'E18toF13': 5.0990195135927845, 'E18toG6': 12...",11.390625,9.492188,10.744607,4,1,1
224,SUPERSTAR FINISH,7B,"[{'Id': 1709946, 'Description': 'C10', 'IsStar...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",19956,"[C10, E7, E18, F13, G4, I9, J16]",7,"{'C10toE7': 3.605551275463989, 'C10toE18': 8.2...",11.390625,7.593750,10.915218,5,1,1
229,TROODON REPOSING,7B,"[{'Id': 1695392, 'Description': 'B9', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",31140,"[B9, B8, B3, C11, D18, G2, G17, H16, H11, I13,...",11,"{'B9toB8': 1.0, 'B9toB3': 6.0, 'B9toC11': 2.23...",11.390625,5.062500,10.224892,8,2,1
292,SANDMAN,7A+,"[{'Id': 1521703, 'Description': 'C5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",24126,"[C5, G8, J10, F13, J16, E16, D17, A18]",8,"{'C5toG8': 5.0, 'C5toJ10': 8.602325267042627, ...",7.593750,7.593750,9.722772,7,0,1
314,BIRTHDAY BOULDER,7A,"[{'Id': 1852961, 'Description': 'A5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",43190,"[A5, B8, E13, F10, G18, I13, I16]",7,"{'A5toB8': 3.1622776601683795, 'A5toE13': 8.94...",5.062500,5.062500,6.992582,6,0,1
334,IMPROVVISAZIONE,7A,"[{'Id': 1697886, 'Description': 'C13', 'IsStar...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",25841,"[C13, D18, D15, F5, H11, I13, J8]",7,"{'C13toD18': 5.0990195135927845, 'C13toD15': 2...",5.062500,3.375000,6.394325,6,0,1
352,PYRO,7A,"[{'Id': 1523712, 'Description': 'H5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",28832,"[H5, J2, J9, H12, I13, E16, D17, A18]",8,"{'H5toJ2': 3.605551275463989, 'H5toJ9': 4.4721...",5.062500,5.062500,9.910411,6,1,1
355,SHRINE 3,7A,"[{'Id': 1538214, 'Description': 'G4', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",70272,"[G4, J6, G8, C10, I13, E16, D18]",7,"{'G4toJ6': 3.605551275463989, 'G4toG8': 4.0, '...",5.062500,5.062500,10.131141,6,0,1
365,7A TOO MUCH,6C+,"[{'Id': 1718064, 'Description': 'A5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",137897,"[A5, C5, E8, E10, E18, G15, I12, J16]",8,"{'A5toC5': 2.0, 'A5toE8': 5.0, 'A5toE10': 6.40...",3.375000,4.218750,7.014121,7,0,1
370,BALL-O-FUN,6C+,"[{'Id': 1525736, 'Description': 'A5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",34387,"[A5, B8, E9, F10, E11, H12, G15, J16, E18]",9,"{'A5toB8': 3.1622776601683795, 'A5toE9': 5.656...",3.375000,7.593750,9.157678,8,0,1
376,DANIELSAN,6C+,"[{'Id': 1718086, 'Description': 'G14', 'IsStar...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",199740,"[G14, G18, H5, J16, J8, J5, K11]",7,"{'G14toG18': 4.0, 'G14toH5': 9.055385138137417...",3.375000,5.062500,8.036392,6,0,1
384,HALF MOON VAR,6C+,"[{'Id': 1523657, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",28514,"[K5, J7, F10, I13, E15, D18]",6,"{'K5toJ7': 2.23606797749979, 'K5toF10': 7.0710...",3.375000,4.218750,7.068721,5,0,1
394,LEFT JAB,6C+,"[{'Id': 1535997, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",63371,"[K5, F7, F10, E12, I13, G15, I18]",7,"{'K5toF7': 5.385164807134504, 'K5toF10': 7.071...",3.375000,5.062500,8.218907,6,0,1
427,BUTOLOGIA,6C,"[{'Id': 1534028, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",57470,"[F5, E10, J9, I13, G15, K18]",6,"{'F5toE10': 5.0990195135927845, 'F5toJ9': 5.65...",2.250000,5.062500,7.540992,5,0,1
439,FULL MOON PARTY,6C,"[{'Id': 1574199, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",178758,"[K5, J8, H11, I13, E15, D17, B18]",7,"{'K5toJ8': 3.1622776601683795, 'K5toH11': 6.70...",2.250000,2.250000,5.520560,6,0,1

In [21]:
def yellow_count(DataFrame):
    yc = []
    for i in range(len(DataFrame)):
        count = 0
        hold_list = DataFrame.loc[i,"holds"]
        for hold in hold_list:
            if hold[0].isupper():
                value = holds[holds["name"] == hold].yellow.item()
                count = count + value
            else:
                pass
        yc.append(count)

    DataFrame["yellow_count"] = yc
    return DataFrame  
yellow_count(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds,downwards_count,only_upwards_count,only_sideways_count,yellow_count
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801,3,1,0,1
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319,6,0,0,5
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141,6,2,0,8
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030,7,1,0,2
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236,7,1,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,6.274190,8,0,0,1
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,5.305129,7,0,0,1
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,6.059494,7,0,0,0
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,7.024749,5,0,0,0
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,9.213323,8,0,0,2

In [22]:
def black_count(DataFrame):
    bc = []
    for i in range(len(DataFrame)):
        count = 0
        hold_list = DataFrame.loc[i,"holds"]
        for hold in hold_list:
            if hold[0].isupper():
                value = holds[holds["name"] == hold].black.item()
                count = count + value
            else:
                pass
        bc.append(count)

    DataFrame["black_count"] = bc
    return DataFrame  
black_count(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds,downwards_count,only_upwards_count,only_sideways_count,yellow_count,black_count
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801,3,1,0,1,3
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319,6,0,0,5,1
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141,6,2,0,8,0
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030,7,1,0,2,3
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236,7,1,0,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,6.274190,8,0,0,1,2
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,5.305129,7,0,0,1,2
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,6.059494,7,0,0,0,0
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,7.024749,5,0,0,0,5
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,9.213323,8,0,0,2,4

In [23]:
def white_count(DataFrame):
    wc = []
    for i in range(len(DataFrame)):
        count = 0
        hold_list = DataFrame.loc[i,"holds"]
        for hold in hold_list:
            if hold[0].isupper():
                value = holds[holds["name"] == hold].white.item()
                count = count + value
            else:
                pass
        wc.append(count)

    DataFrame["white_count"] = wc
    return DataFrame  
white_count(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds,downwards_count,only_upwards_count,only_sideways_count,yellow_count,black_count,white_count
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801,3,1,0,1,3,0
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319,6,0,0,5,1,0
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141,6,2,0,8,0,0
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030,7,1,0,2,3,3
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236,7,1,0,8,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,6.274190,8,0,0,1,2,5
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,5.305129,7,0,0,1,2,4
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,6.059494,7,0,0,0,0,7
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,7.024749,5,0,0,0,5,0
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,9.213323,8,0,0,2,4,2

In [24]:
holds.head(10)

,name,grade_distribution,color,black,white,yellow,force_z,rotational_angle,slopeness,mean_grade,median_grade,force_z_0,force_z_1,force_z_2,is_downwards,only_upwards,only_sideways
0,A5,"{'6B+': 5, '6C': 4, '6C+': 7, '7A': 9, '7A+': ...",white,0,1,0,0,[4],NaN,8.491378,5.062500,1,0,0,1,0,0
1,A9,"{'6B+': 2, '6C': 4, '6C+': 1, '7A': 2, '7A+': ...",black,1,0,0,1,[3],NaN,9.761043,7.593750,0,1,0,1,0,0
2,A10,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,[3],NaN,38.443359,38.443359,1,0,0,1,0,0
3,A11,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,[3],NaN,17.085938,17.085938,1,0,0,1,0,0
4,A12,"{'6B+': 0, '6C': 0, '6C+': 1, '7A': 1, '7A+': ...",white,0,1,0,0,[4],NaN,18.189593,7.593750,1,0,0,1,0,0
5,A13,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,1,[4],NaN,12.023438,11.390625,0,1,0,1,0,0
6,A14,"{'6B+': 3, '6C': 3, '6C+': 6, '7A': 4, '7A+': ...",black,1,0,0,2,[3],NaN,5.998136,3.375000,0,0,1,1,0,0
7,A15,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",white,0,1,0,1,[3],NaN,38.443359,38.443359,0,1,0,1,0,0
8,A16,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,1,[3],NaN,60.868652,57.665039,0,1,0,1,0,0
9,A18,"{'6B+': 3, '6C': 4, '6C+': 2, '7A': 8, '7A+': ...",black,1,0,0,1,[4],NaN,15.913884,7.593750,0,1,0,1,0,0

In [25]:
problems.head(10)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds,downwards_count,only_upwards_count,only_sideways_count,yellow_count,black_count,white_count
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801,3,1,0,1,3,0
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319,6,0,0,5,1,0
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141,6,2,0,8,0,0
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030,7,1,0,2,3,3
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236,7,1,0,8,0,0
5,DANK ENERGY,8A,"[{'Id': 1656077, 'Description': 'I4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",309814,"[I4, E7, F12, D13, I15, I18]",6,"{'I4toE7': 5.0, 'I4toF12': 8.54400374531753, '...",57.665039,12.339844,17.052417,6,0,0,1,2,3
6,GNIBMILC,8A,"[{'Id': 2148348, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",371579,"[D3, E6, I8, G14, G16, A16, A12, A18]",8,"{'D3toE6': 3.1622776601683795, 'D3toI8': 7.071...",57.665039,9.492188,26.253265,7,1,0,4,3,1
7,I BURNT OFF MEGOS,8A,"[{'Id': 1844685, 'Description': 'C18', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",62560,"[C18, D6, F15, F9, H9]",5,"{'C18toD6': 12.041594578792296, 'C18toF15': 4....",57.665039,11.390625,17.024332,5,0,0,5,0,0
8,KAWASCHUWU,8A,"[{'Id': 1857955, 'Description': 'E16', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",62275,"[E16, F10, F6, G2, K5, K12, K18]",7,"{'E16toF10': 6.082762530298219, 'E16toF6': 10....",57.665039,7.593750,16.607729,6,1,0,2,1,4
9,ONE MOVE WONDER,8A,"[{'Id': 1524277, 'Description': 'D6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",30609,"[D6, F6, G11, H15, H18]",5,"{'D6toF6': 2.0, 'D6toG11': 5.830951894845301, ...",57.665039,25.628906,29.779230,5,0,0,5,0,0

In [26]:
def one_hot_encode(DataFrame):
    ohe = []
    for i in range(len(DataFrame)):
        grade = DataFrame.loc[i,"Grade"]
        one_hot_encoded = np.zeros(len(grades_numeric_order))
        one_hot_encoded[grades_numeric_order[grade]-1] = 1
        ohe.append(one_hot_encoded)
    DataFrame["Grade_ohe"] = ohe
    return DataFrame
one_hot_encode(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds,downwards_count,only_upwards_count,only_sideways_count,yellow_count,black_count,white_count,Grade_ohe
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801,3,1,0,1,3,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319,6,0,0,5,1,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141,6,2,0,8,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030,7,1,0,2,3,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236,7,1,0,8,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,6.274190,8,0,0,1,2,5,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,5.305129,7,0,0,1,2,4,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,6.059494,7,0,0,0,0,7,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,7.024749,5,0,0,0,5,0,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,9.213323,8,0,0,2,4,2,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [27]:
problems.head(5)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds,downwards_count,only_upwards_count,only_sideways_count,yellow_count,black_count,white_count,Grade_ohe
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801,3,1,0,1,3,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319,6,0,0,5,1,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141,6,2,0,8,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030,7,1,0,2,3,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236,7,1,0,8,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [28]:
def downwards_percent(DataFrame):
    dp = []
    for i in range(len(DataFrame)):
        downwards_count = DataFrame.loc[i,"downwards_count"]
        number_of_holds = DataFrame.loc[i,"number_of_holds"]
        percent = downwards_count/number_of_holds
        dp.append(percent)

    DataFrame["downwards_percent"] = dp
    return DataFrame  
downwards_percent(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds,downwards_count,only_upwards_count,only_sideways_count,yellow_count,black_count,white_count,Grade_ohe,downwards_percent
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801,3,1,0,1,3,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.750
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319,6,0,0,5,1,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141,6,2,0,8,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.750
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030,7,1,0,2,3,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.875
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236,7,1,0,8,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,6.274190,8,0,0,1,2,5,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,5.305129,7,0,0,1,2,4,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,6.059494,7,0,0,0,0,7,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,7.024749,5,0,0,0,5,0,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,9.213323,8,0,0,2,4,2,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000

In [29]:
def black_percent(DataFrame):
    bp = []
    for i in range(len(DataFrame)):
        black_count = DataFrame.loc[i,"black_count"]
        number_of_holds = DataFrame.loc[i,"number_of_holds"]
        percent = black_count/number_of_holds
        bp.append(percent)

    DataFrame["black_percent"] = bp
    return DataFrame  
black_percent(problems)

def white_percent(DataFrame):
    wp = []
    for i in range(len(DataFrame)):
        white_count = DataFrame.loc[i,"white_count"]
        number_of_holds = DataFrame.loc[i,"number_of_holds"]
        percent = white_count/number_of_holds
        wp.append(percent)

    DataFrame["white_percent"] = wp
    return DataFrame  
white_percent(problems)

def yellow_percent(DataFrame):
    yp = []
    for i in range(len(DataFrame)):
        yellow_count = DataFrame.loc[i,"yellow_count"]
        number_of_holds = DataFrame.loc[i,"number_of_holds"]
        percent = yellow_count/number_of_holds
        yp.append(percent)

    DataFrame["yellow_percent"] = yp
    return DataFrame  
yellow_percent(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,...,only_upwards_count,only_sideways_count,yellow_count,black_count,white_count,Grade_ohe,downwards_percent,black_percent,white_percent,yellow_percent
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,...,1,0,1,3,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.750,0.750000,0.000000,0.250000
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,...,0,0,5,1,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.166667,0.000000,0.833333
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,...,2,0,8,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.750,0.000000,0.000000,1.000000
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,...,1,0,2,3,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.875,0.375000,0.375000,0.250000
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,...,1,0,8,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.875,0.000000,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,...,0,0,1,2,5,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.250000,0.625000,0.125000
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,...,0,0,1,2,4,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.285714,0.571429,0.142857
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,...,0,0,0,0,7,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.000000,1.000000,0.000000
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,...,0,0,0,5,0,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,1.000000,0.000000,0.000000
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,...,0,0,2,4,2,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.500000,0.250000,0.250000

In [30]:
def black_white_percent(DataFrame):
    bwp = []
    for i in range(len(DataFrame)):
        percent = 1 - DataFrame.loc[i,"yellow_percent"]
        bwp.append(percent)

    DataFrame["b_w_percent"] = bwp
    return DataFrame  
black_white_percent(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,...,only_sideways_count,yellow_count,black_count,white_count,Grade_ohe,downwards_percent,black_percent,white_percent,yellow_percent,b_w_percent
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,...,0,1,3,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.750,0.750000,0.000000,0.250000,0.750000
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,...,0,5,1,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.166667,0.000000,0.833333,0.166667
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,...,0,8,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.750,0.000000,0.000000,1.000000,0.000000
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,...,0,2,3,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.875,0.375000,0.375000,0.250000,0.750000
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,...,0,8,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.875,0.000000,0.000000,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,...,0,1,2,5,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.250000,0.625000,0.125000,0.875000
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,...,0,1,2,4,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.285714,0.571429,0.142857,0.857143
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,...,0,0,0,7,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.000000,1.000000,0.000000,1.000000
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,...,0,0,5,0,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,1.000000,0.000000,0.000000,1.000000
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,...,0,2,4,2,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.500000,0.250000,0.250000,0.750000

In [31]:
def only_upwards_percent(DataFrame):
    oup = []
    for i in range(len(DataFrame)):
        only_upwards_count = DataFrame.loc[i,"only_upwards_count"]
        number_of_holds = DataFrame.loc[i,"number_of_holds"]
        percent = only_upwards_count/number_of_holds
        oup.append(percent)

    DataFrame["only_upwards_percent"] = oup
    return DataFrame  
only_upwards_percent(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,...,yellow_count,black_count,white_count,Grade_ohe,downwards_percent,black_percent,white_percent,yellow_percent,b_w_percent,only_upwards_percent
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,...,1,3,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.750,0.750000,0.000000,0.250000,0.750000,0.250
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,...,5,1,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.166667,0.000000,0.833333,0.166667,0.000
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,...,8,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.750,0.000000,0.000000,1.000000,0.000000,0.250
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,...,2,3,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.875,0.375000,0.375000,0.250000,0.750000,0.125
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,...,8,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.875,0.000000,0.000000,1.000000,0.000000,0.125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,...,1,2,5,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.250000,0.625000,0.125000,0.875000,0.000
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,...,1,2,4,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.285714,0.571429,0.142857,0.857143,0.000
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,...,0,0,7,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.000000,1.000000,0.000000,1.000000,0.000
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,...,0,5,0,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,1.000000,0.000000,0.000000,1.000000,0.000
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,...,2,4,2,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.500000,0.250000,0.250000,0.750000,0.000

In [32]:
def mean_distance_of_holds(DataFrame):
    mdoh = []
    for i in range(len(DataFrame)):
        distances_of_holds = DataFrame.loc[i,"lengths_of_moves"]
        mean_length = sum(list(distances_of_holds.values()))/len(distances_of_holds)
        mdoh.append(mean_length)

    DataFrame["mean_distance_of_holds"] = mdoh
    return DataFrame  
mean_distance_of_holds(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,...,black_count,white_count,Grade_ohe,downwards_percent,black_percent,white_percent,yellow_percent,b_w_percent,only_upwards_percent,mean_distance_of_holds
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,...,3,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.750,0.750000,0.000000,0.250000,0.750000,0.250,8.005032
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,...,1,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.166667,0.000000,0.833333,0.166667,0.000,8.611438
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,...,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.750,0.000000,0.000000,1.000000,0.000000,0.250,8.039489
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,...,3,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.875,0.375000,0.375000,0.250000,0.750000,0.125,8.163433
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,...,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.875,0.000000,0.000000,1.000000,0.000000,0.125,7.282818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,...,2,5,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.250000,0.625000,0.125000,0.875000,0.000,6.776186
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,...,2,4,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.285714,0.571429,0.142857,0.857143,0.000,5.936277
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,...,0,7,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.000000,1.000000,0.000000,1.000000,0.000,6.973962
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,...,5,0,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,1.000000,0.000000,0.000000,1.000000,0.000,7.829490
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,...,4,2,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.500000,0.250000,0.250000,0.750000,0.000,6.987678

In [33]:
def numeric_encode(DataFrame):
    ne = []
    for i in range(len(DataFrame)):
        grade = DataFrame.loc[i,"Grade"]
        numeric = grades_numeric_order[grade]-1
        ne.append(numeric)
    DataFrame["Grade_numeric"] = ne
    return DataFrame
numeric_encode(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,...,white_count,Grade_ohe,downwards_percent,black_percent,white_percent,yellow_percent,b_w_percent,only_upwards_percent,mean_distance_of_holds,Grade_numeric
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,...,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.750,0.750000,0.000000,0.250000,0.750000,0.250,8.005032,11
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,...,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.166667,0.000000,0.833333,0.166667,0.000,8.611438,10
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,...,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.750,0.000000,0.000000,1.000000,0.000000,0.250,8.039489,10
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,...,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.875,0.375000,0.375000,0.250000,0.750000,0.125,8.163433,9
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,...,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.875,0.000000,0.000000,1.000000,0.000000,0.125,7.282818,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,...,5,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.250000,0.625000,0.125000,0.875000,0.000,6.776186,1
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,...,4,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.285714,0.571429,0.142857,0.857143,0.000,5.936277,1
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,...,7,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.000000,1.000000,0.000000,1.000000,0.000,6.973962,1
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,...,0,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,1.000000,0.000000,0.000000,1.000000,0.000,7.829490,1
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,...,2,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.500000,0.250000,0.250000,0.750000,0.000,6.987678,1

In [34]:
def numeric_encode(DataFrame):
    ne = []
    for i in range(len(DataFrame)):
        grade = DataFrame.loc[i,"Grade"]
        numeric = grades_numeric_order[grade]-1
        ne.append(numeric)
    DataFrame["Grade_numeric"] = ne
    return DataFrame
numeric_encode(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,...,white_count,Grade_ohe,downwards_percent,black_percent,white_percent,yellow_percent,b_w_percent,only_upwards_percent,mean_distance_of_holds,Grade_numeric
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,...,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.750,0.750000,0.000000,0.250000,0.750000,0.250,8.005032,11
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,...,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.166667,0.000000,0.833333,0.166667,0.000,8.611438,10
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,...,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.750,0.000000,0.000000,1.000000,0.000000,0.250,8.039489,10
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,...,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.875,0.375000,0.375000,0.250000,0.750000,0.125,8.163433,9
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,...,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.875,0.000000,0.000000,1.000000,0.000000,0.125,7.282818,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,...,5,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.250000,0.625000,0.125000,0.875000,0.000,6.776186,1
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,...,4,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.285714,0.571429,0.142857,0.857143,0.000,5.936277,1
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,...,7,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.000000,1.000000,0.000000,1.000000,0.000,6.973962,1
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,...,0,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,1.000000,0.000000,0.000000,1.000000,0.000,7.829490,1
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,...,2,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.500000,0.250000,0.250000,0.750000,0.000,6.987678,1

In [35]:
def thermo_encoding(DataFrame):
    ne = problems["Grade_numeric"].values
    te = []
    for grade in ne:
        te.append(list(np.ones(grade))+list(np.zeros(11-grade)))
    DataFrame["Grade_thermo"] = te
    return DataFrame

In [36]:
thermo_encoding(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,...,Grade_ohe,downwards_percent,black_percent,white_percent,yellow_percent,b_w_percent,only_upwards_percent,mean_distance_of_holds,Grade_numeric,Grade_thermo
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.750,0.750000,0.000000,0.250000,0.750000,0.250,8.005032,11,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.166667,0.000000,0.833333,0.166667,0.000,8.611438,10,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.750,0.000000,0.000000,1.000000,0.000000,0.250,8.039489,10,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.875,0.375000,0.375000,0.250000,0.750000,0.125,8.163433,9,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.875,0.000000,0.000000,1.000000,0.000000,0.125,7.282818,9,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,...,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.250000,0.625000,0.125000,0.875000,0.000,6.776186,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,...,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.285714,0.571429,0.142857,0.857143,0.000,5.936277,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,...,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.000000,1.000000,0.000000,1.000000,0.000,6.973962,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,...,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,1.000000,0.000000,0.000000,1.000000,0.000,7.829490,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,...,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.500000,0.250000,0.250000,0.750000,0.000,6.987678,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [37]:
def numeric_encode(DataFrame):
    ne = []
    for i in range(len(DataFrame)):
        grade = DataFrame.loc[i,"Grade"]
        numeric = grades_numeric_order[grade]-1
        ne.append(numeric)
    DataFrame["Grade_numeric"] = ne
    return DataFrame
numeric_encode(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,...,Grade_ohe,downwards_percent,black_percent,white_percent,yellow_percent,b_w_percent,only_upwards_percent,mean_distance_of_holds,Grade_numeric,Grade_thermo
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.750,0.750000,0.000000,0.250000,0.750000,0.250,8.005032,11,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.166667,0.000000,0.833333,0.166667,0.000,8.611438,10,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.750,0.000000,0.000000,1.000000,0.000000,0.250,8.039489,10,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.875,0.375000,0.375000,0.250000,0.750000,0.125,8.163433,9,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.875,0.000000,0.000000,1.000000,0.000000,0.125,7.282818,9,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,...,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.250000,0.625000,0.125000,0.875000,0.000,6.776186,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,...,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.285714,0.571429,0.142857,0.857143,0.000,5.936277,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,...,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.000000,1.000000,0.000000,1.000000,0.000,6.973962,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,...,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,1.000000,0.000000,0.000000,1.000000,0.000,7.829490,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,...,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.000,0.500000,0.250000,0.250000,0.750000,0.000,6.987678,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [38]:
#def diff_of_last_move(DataFrame):
#    diff_rates = []
#   
#    for i in range(len(DataFrame)):
#        total_distance = 0
#        yellow_count = 0
#        lengths_of_moves = DataFrame.loc[i,"lengths_of_moves"]
#        last_3_keys = list(lengths_of_moves.keys())[-3:]        
#        last_3_holds = DataFrame.loc[i,"holds"][-3:]
#
#        for key, hold in zip(last_3_keys, last_3_holds):
#
#            total_distance += lengths_of_moves[key]
#            yellow_count += list(holds[holds["name"] == hold]["yellow"])[0]
#
#        
#        last_hold = last_3_holds[-1]
#
#        is_last_yellow = holds.loc[holds['name'] == last_hold, 'yellow'].iloc[0]
#        
#        mean_distance = total_distance/(len(last_3_keys))
#
#        diff_rate = mean_distance**(1 + is_last_yellow + yellow_count)
#        diff_rates.append(diff_rate)
#    
#    DataFrame["last_move_diff"] = diff_rates
#        
#    return DataFrame

In [39]:
holds

,name,grade_distribution,color,black,white,yellow,force_z,rotational_angle,slopeness,mean_grade,median_grade,force_z_0,force_z_1,force_z_2,is_downwards,only_upwards,only_sideways
0,A5,"{'6B+': 5, '6C': 4, '6C+': 7, '7A': 9, '7A+': ...",white,0,1,0,0,[4],NaN,8.491378,5.062500,1,0,0,1,0,0
1,A9,"{'6B+': 2, '6C': 4, '6C+': 1, '7A': 2, '7A+': ...",black,1,0,0,1,[3],NaN,9.761043,7.593750,0,1,0,1,0,0
2,A10,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,[3],NaN,38.443359,38.443359,1,0,0,1,0,0
3,A11,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,[3],NaN,17.085938,17.085938,1,0,0,1,0,0
4,A12,"{'6B+': 0, '6C': 0, '6C+': 1, '7A': 1, '7A+': ...",white,0,1,0,0,[4],NaN,18.189593,7.593750,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,K12,"{'6B+': 1, '6C': 1, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,"[5, 3]",NaN,30.092936,25.628906,1,0,0,1,0,0
136,K13,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,[4],NaN,57.665039,57.665039,1,0,0,1,0,0
137,K14,"{'6B+': 0, '6C': 1, '6C+': 2, '7A': 0, '7A+': ...",black,1,0,0,2,[5],NaN,4.837500,3.375000,0,0,1,1,0,0
138,K16,"{'6B+': 1, '6C': 1, '6C+': 0, '7A': 0, '7A+': ...",black,1,0,0,1,[4],NaN,3.781250,2.250000,0,1,0,1,0,0
139,K18,"{'6B+': 5, '6C': 5, '6C+': 4, '7A': 4, '7A+': ...",white,0,1,0,2,[4],NaN,13.397241,7.593750,0,0,1,1,0,0

In [110]:
# last move difficulty

def holds_sorter(holds):
    sorted_holds = []
    reversed_keys = {}
    for hold in holds:
        column = hold[:1]
        row = int(hold[1:])
        reversed_keys[hold] = row
    sorted_array = sorted(reversed_keys.items(), key=lambda x: x[1], reverse=True)
    for array in sorted_array:
        sorted_holds.append(array[0])
    return sorted_holds


def diff_of_last_move(DataFrame):
    diff_rates = []
    
   
    for i in range(len(DataFrame)):
        route_holds = holds_sorter(DataFrame.loc[i,"holds"])
        total_distance = 0
        yellow_count = 0
        force_z_count = 0
        
        lengths_of_moves = DataFrame.loc[i,"lengths_of_moves"]

        last_hold = route_holds[0]

        second_to_last = route_holds[1]
        third_to_last = route_holds[2]

        try:
            total_distance += lengths_of_moves[second_to_last+"to"+last_hold]
        except:
            total_distance += lengths_of_moves[last_hold+"to"+second_to_last]

        try:
            total_distance += lengths_of_moves[third_to_last+"to"+last_hold]
        except:
            total_distance += lengths_of_moves[last_hold+"to"+third_to_last]
            
        try:
            total_distance += lengths_of_moves[third_to_last+"to"+second_to_last]
        except:
            total_distance += lengths_of_moves[second_to_last+"to"+third_to_last]            
            


        is_last_yellow = holds.loc[holds['name'] == last_hold, 'yellow'].iloc[0]
        is_second_to_last_yellow = holds.loc[holds['name'] == second_to_last, 'yellow'].iloc[0]
        is_third_to_last_yellow = holds.loc[holds['name'] == third_to_last, 'yellow'].iloc[0]
        
        yellow_count = is_last_yellow + is_second_to_last_yellow + is_third_to_last_yellow
        
        force_z_count += holds.loc[holds['name'] == last_hold, 'force_z'].iloc[0]
        force_z_count += holds.loc[holds['name'] == second_to_last, 'force_z'].iloc[0]
        force_z_count += holds.loc[holds['name'] == third_to_last, 'force_z'].iloc[0]
        
        mean_distance = total_distance/3
        
        diff_rate = (mean_distance**(1 + is_last_yellow + yellow_count ))/np.log(len(holds)+force_z_count)
        diff_rates.append(diff_rate)
    
    DataFrame["last_move_diff"] = diff_rates
        
    return DataFrame
diff_of_last_move(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,...,black_percent,white_percent,yellow_percent,b_w_percent,only_upwards_percent,mean_distance_of_holds,Grade_numeric,Grade_thermo,last_move_diff,first_move_diff
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,...,0.750000,0.000000,0.250000,0.750000,0.250,8.005032,11,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",63.725579,6.473550
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,...,0.166667,0.000000,0.833333,0.166667,0.000,8.611438,10,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",38.870607,0.131758
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,...,0.000000,0.000000,1.000000,0.000000,0.250,8.039489,10,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",336.613237,114.642863
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,...,0.375000,0.375000,0.250000,0.750000,0.125,8.163433,9,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",3.345859,2.465532
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,...,0.000000,0.000000,1.000000,0.000000,0.125,7.282818,9,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",316.796301,124.817579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,...,0.250000,0.625000,0.125000,0.875000,0.000,6.776186,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.854800,1.896806
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,...,0.285714,0.571429,0.142857,0.857143,0.000,5.936277,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.936384,1.743645
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,...,0.000000,1.000000,0.000000,1.000000,0.000,6.973962,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.861749,1.802399
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,...,1.000000,0.000000,0.000000,1.000000,0.000,7.829490,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.040404,1.943220
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,...,0.500000,0.250000,0.250000,0.750000,0.000,6.987678,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.793527,3.633578

In [112]:
problems.sort_values(by=['last_move_diff'],ascending=False).head(25)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,...,black_percent,white_percent,yellow_percent,b_w_percent,only_upwards_percent,mean_distance_of_holds,Grade_numeric,Grade_thermo,last_move_diff,first_move_diff
11,THE PROJ,8A,"[{'Id': 1842497, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",30612,"[B4, C18, D13, D3, F8, I8]",6,"{'B4toC18': 14.035668847618199, 'B4toD13': 9.2...",57.665039,14.238281,...,0.000000,0.000,1.000000,0.000000,0.333333,7.957159,9,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",3326.117148,286.861629
7,I BURNT OFF MEGOS,8A,"[{'Id': 1844685, 'Description': 'C18', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",62560,"[C18, D6, F15, F9, H9]",5,"{'C18toD6': 12.041594578792296, 'C18toF15': 4....",57.665039,11.390625,...,0.000000,0.000,1.000000,0.000000,0.000000,6.821635,9,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",2478.794620,48.413855
218,POST CAPTAIN,7B,"[{'Id': 1539969, 'Description': 'I5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",74696,"[I5, H9, D10, H14, H18]",5,"{'I5toH9': 4.123105625617661, 'I5toD10': 7.071...",11.390625,7.593750,...,0.000000,0.000,1.000000,0.000000,0.000000,7.001220,5,"[1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...",1841.388860,10.325905
19,BIRD CRIMPS 1,7C+,"[{'Id': 1551206, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",111232,"[B4, D8, D10, H14, H18]",5,"{'B4toD8': 4.47213595499958, 'B4toD10': 6.3245...",38.443359,11.390625,...,0.000000,0.000,1.000000,0.000000,0.200000,7.627270,8,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, ...",1841.388860,33.792791
28,JUST TRAINING,7C+,"[{'Id': 1879483, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",189344,"[B4, C15, D6, F9, G11, H18]",6,"{'B4toC15': 11.045361017187261, 'B4toD6': 2.82...",38.443359,14.238281,...,0.000000,0.000,1.000000,0.000000,0.166667,7.464965,8,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, ...",1823.105342,108.268755
22,CHOSSY MOONBOARD,7C+,"[{'Id': 1758502, 'Description': 'D6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",322352,"[D6, D8, D10, F15, H18]",5,"{'D6toD8': 2.0, 'D6toD10': 4.0, 'D6toF15': 9.2...",38.443359,25.628906,...,0.000000,0.000,1.000000,0.000000,0.000000,6.585408,8,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, ...",1536.593896,4.212391
38,WOLF,7C+,"[{'Id': 1864964, 'Description': 'D16', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",320798,"[D16, F9, G11, H18, I5]",5,"{'D16toF9': 7.280109889280518, 'D16toG11': 5.8...",38.443359,11.390625,...,0.000000,0.000,1.000000,0.000000,0.000000,7.255588,8,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, ...",1314.607558,19.021942
39,ZANZIBAR,7C+,"[{'Id': 1529003, 'Description': 'F6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",43010,"[F6, K6, G11, A10, C15, C18]",6,"{'F6toK6': 5.0, 'F6toG11': 5.0990195135927845,...",38.443359,21.357422,...,0.000000,0.000,1.000000,0.000000,0.000000,7.895253,8,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, ...",1081.732026,21999.526911
10,SNAKE AND EAGLE,8A,"[{'Id': 1861589, 'Description': 'D6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",335177,"[D6, H15, H18, C12, F8]",5,"{'D6toH15': 9.848857801796104, 'D6toH18': 12.6...",57.665039,25.628906,...,0.000000,0.000,1.000000,0.000000,0.000000,7.052851,9,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",1059.744057,23.817981
141,FÃœR IMMER MEIN,7C,"[{'Id': 1621973, 'Description': 'C15', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",254625,"[C15, C18, D10, G10, H5]",5,"{'C15toC18': 3.0, 'C15toD10': 5.09901951359278...",25.628906,11.390625,...,0.400000,0.000,0.600000,0.400000,0.000000,7.111955,7,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, ...",911.649137,1.819777
206,I WANT MILK MOO VAR,7B,"[{'Id': 1519142, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",20253,"[B4, D6, C7, D10, C15, C18]",6,"{'B4toD6': 2.8284271247461903, 'B4toC7': 3.162...",11.390625,11.390625,...,0.000000,0.000,1.000000,0.000000,0.166667,6.815403,5,"[1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...",911.649137,13.339210
175,GOLIATH,7B+,"[{'Id': 1622564, 'Description': 'C7', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",39709,"[C7, C18, E13, G4, H7]",5,"{'C7toC18': 11.0, 'C7toE13': 6.324555320336759...",17.085938,7.593750,...,0.200000,0.200,0.600000,0.400000,0.000000,7.844301,6,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, ...",660.726971,2.615270
176,MELLOW YELLOW,7B+,"[{'Id': 1549202, 'Description': 'I5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",104914,"[I5, F9, D10, A11, A13, F15, C18]",7,"{'I5toF9': 5.0, 'I5toD10': 7.0710678118654755,...",17.085938,11.390625,...,0.000000,0.000,1.000000,0.000000,0.000000,6.628697,6,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, ...",632.406281,19.021942
180,PROBLEM 15,7B+,"[{'Id': 1842299, 'Description': 'C7', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",19229,"[C7, F15, G11, H18, I5]",5,"{'C7toF15': 8.54400374531753, 'C7toG11': 5.656...",17.085938,7.593750,...,0.000000,0.000,1.000000,0.000000,0.000000,7.721145,6,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, ...",588.750425,27.729386
191,BILL CLINTONâ€™S SAX VAR,7B,"[{'Id': 1846608, 'Description': 'C15', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",332721,"[C15, C18, F9, H14, I5, I12]",6,"{'C15toC18': 3.0, 'C15toF9': 6.708203932499369...",11.390625,11.390625,...,0.000000,0.000,1.000000,0.000000,0.000000,6.985977,5,"[1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...",530.408345,19.021942
192,CALIFFONE,7B,"[{'Id': 1622104, 'Description': 'C15', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",199290,"[C15, C18, G4, H14, I12, K8]",6,"{'C15toC18': 3.0, 'C15toG4': 11.70469991071962...",11.390625,11.390625,...,0.166667,0.000,0.833333,0.166667,0.000000,7.784419,5,"[1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...",530.408345,5.534577
227,THE MICE ARE MEN,7B,"[{'Id': 1838759, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",332448,"[D3, D6, H9, G11, H14, C15, C18]",7,"{'D3toD6': 3.0, 'D3toH9': 7.211102550927978, '...",11.390625,11.390625,...,0.000000,0.000,1.000000,0.000000,0.142857,7.387256,5,"[1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...",530.408345,105.091477
181,RADIANCE,7B+,"[{'Id': 1792574, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",326672,"[K6, J6, H9, F9, D3, C12, F15, C18]",8,"{'K6toJ6': 1.0, 'K6toH9': 4.242640687119285, '...",17.085938,11.390625,...,0.000000,0.125,0.875000,0.125000,0.125000,7.504913,6,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, ...",528.807646,143.518475
204,HANGBOARD NOT REQUIRED,7B,"[{'Id': 1602495, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",256313,"[B4, D6, D10, C12, F15, G7, C18]",7,"{'B4toD6': 2.8284271247461903, 'B4toD10': 6.32...",11.390625,11.390625,...,0.000000,0.000,1.000000,0.000000,0.142857,6.851154,5,"[1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...",528.807646,184.986320
280,MUFASA,7A+,"[{'Id': 1635140, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",119861,"[B4, C7, C12, C18, D3, F15]",6,"{'B4toC7': 3.1622776601683795, 'B4toC12': 8.06...",7.593750,9.492188,...,0.000000,0.000,1.000000,0.000000,0.333333,7.907171,4,"[1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",528.807646,20.726685
9,ONE MOVE WONDER,8A,"[{'Id': 1524277, 'Description': 'D6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",30609,"[D6, F6, G11, H15, H18]",5,"{'D6toF6': 2.0, 'D6toG11': 5.830951894845301, ...",57.665039,25.628906,...,0.000000,0.000,1.000000,0.000000,0.000000,7.100718,9,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",478.440705,260.192956
136,BLOW,7C,"[{'Id': 1864958, 'Description': 'D6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",19646,"[D6, H18, H15, H9, I8, K12]",6,"{'D6toH18': 12.649110640673518, 'D6toH15': 9.8...",25.628906,25.628906,...,0.000000,0.000,1.000000,0.000000,0.000000,6.553564,7,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, ...",439.440269,595.395696
385,HEMATOMA,6C+,"[{'Id': 1879500, 'Description': 'F15', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",20038,"[F15, H18, H9, I5, I12]",5,"{'F15toH18': 3.605551275463989, 'F15toH9': 6.3...",3.375000,7.593750,...,0.000000,0.000,1.000000,0.000000,0.000000,6.701960,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",434.468226,10.325905
306,ACG24,7A,"[{'Id': 1521029, 'Description': 'I5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",22861,"[I5, F9, G11, C12, D13, D16, H18]",7,"{'I5toF9': 5.0, 'I5toG11': 6.324555320336759, ...",5.062500,11.390625,...,0.000000,0.000,1.000000,0.000000,0.000000,6.209692,3,"[1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",426.450597,19.021942
182,THE GREY,7B+,"[{'Id': 1521155, 'Description': 'I5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23186,"[I5, G7, C9, D13, D16, H18]",6,"{'I5toG7': 2.8284271247461903, 'I5toC9': 7.211...",17.085938,14.238281,...,0.000000,0.000,1.000000,0.000000,0.000000,7.444837,6,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, ...",426.450597,5.284437

In [ ]:
diff_rate = mean_distance**((1+is_first_hold_yellow+yellow_count+is_third_hold_upwards*3)/np.log(2.719+force_z_count))

In [117]:
# first move difficulty

def holds_sorter(holds):
    sorted_holds = []
    reversed_keys = {}
    for hold in holds:
        column = hold[:1]
        row = int(hold[1:])
        reversed_keys[hold] = row
    sorted_array = sorted(reversed_keys.items(), key=lambda x: x[1], reverse=True)
    for array in sorted_array:
        sorted_holds.append(array[0])
    return sorted_holds


def diff_of_first_move(DataFrame):
    diff_rates = []
    
   
    for i in range(len(DataFrame)):
        route_holds = holds_sorter(DataFrame.loc[i,"holds"])
        total_distance = 0
        yellow_count = 0
        force_z_count = 0
        
        
        # holds 
        moves = DataFrame.loc[i,"Moves"]
        is_start_counter = 0

        for move in moves:
            is_start_counter += int(move["IsStart"] == True)
        is_start_counter

        if is_start_counter == 1:           
            if route_holds[-1] == "j5":
                route_holds = route_holds[:-1]
                first_hold = route_holds[-1]
                second_hold = route_holds[-1]
                third_hold = route_holds[-2]
            else:
                first_hold = route_holds[-1]
                second_hold = route_holds[-1]
                third_hold = route_holds[-2]
                
        else:
            if route_holds[-1] == "j5":            
                first_hold = route_holds[-2]
                route_holds = route_holds[:-1]
                second_hold = route_holds[-2]
                third_hold = route_holds[-3]
            else:
                first_hold = route_holds[-1]
                second_hold = route_holds[-2]
                third_hold = route_holds[-3]                

        lengths_of_moves = DataFrame.loc[i,"lengths_of_moves"]

        if first_hold == second_hold:
            total_distance += 0
        else:
            try:
                total_distance += lengths_of_moves[first_hold+"to"+second_hold]
            except:
                total_distance += lengths_of_moves[second_hold+"to"+first_hold]
            
        try:
            total_distance += lengths_of_moves[first_hold+"to"+third_hold]
        except:
            total_distance += lengths_of_moves[third_hold+"to"+first_hold]

        try:
            total_distance += lengths_of_moves[third_hold+"to"+second_hold]
        except:
            total_distance += lengths_of_moves[second_hold+"to"+third_hold]


        is_first_hold_yellow = holds.loc[holds['name'] == first_hold, 'yellow'].iloc[0]
        is_second_hold_yellow = holds.loc[holds['name'] == second_hold, 'yellow'].iloc[0]
        is_third_hold_yellow = holds.loc[holds['name'] == third_hold, 'yellow'].iloc[0]
        
        is_third_hold_upwards = holds.loc[holds['name'] == third_hold, 'only_upwards'].iloc[0]

        
        force_z_count += holds.loc[holds['name'] == first_hold, 'force_z'].iloc[0]
        force_z_count += holds.loc[holds['name'] == second_hold, 'force_z'].iloc[0]
        force_z_count += holds.loc[holds['name'] == third_hold, 'force_z'].iloc[0]
        
        yellow_count = is_first_hold_yellow + is_second_hold_yellow + is_third_hold_yellow
        
        mean_distance = total_distance/3
        
        diff_rate = mean_distance**((1+is_first_hold_yellow+yellow_count+is_third_hold_upwards*3)/np.log(2.719+force_z_count))
        
        diff_rates.append(diff_rate)
    
    DataFrame["first_move_diff"] = diff_rates
        
    return DataFrame
diff_of_first_move(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,...,black_percent,white_percent,yellow_percent,b_w_percent,only_upwards_percent,mean_distance_of_holds,Grade_numeric,Grade_thermo,last_move_diff,first_move_diff
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,...,0.750000,0.000000,0.250000,0.750000,0.250,8.005032,11,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",63.725579,6.473550
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,...,0.166667,0.000000,0.833333,0.166667,0.000,8.611438,10,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",38.870607,0.131758
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,...,0.000000,0.000000,1.000000,0.000000,0.250,8.039489,10,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",336.613237,114.642863
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,...,0.375000,0.375000,0.250000,0.750000,0.125,8.163433,9,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",3.345859,2.465532
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,...,0.000000,0.000000,1.000000,0.000000,0.125,7.282818,9,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",316.796301,124.817579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,...,0.250000,0.625000,0.125000,0.875000,0.000,6.776186,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.854800,1.896806
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,...,0.285714,0.571429,0.142857,0.857143,0.000,5.936277,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.936384,1.743645
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,...,0.000000,1.000000,0.000000,1.000000,0.000,6.973962,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.861749,1.802399
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,...,1.000000,0.000000,0.000000,1.000000,0.000,7.829490,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.040404,1.943220
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,...,0.500000,0.250000,0.250000,0.750000,0.000,6.987678,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.793527,3.633578

In [116]:
problems.sort_values(by=['first_move_diff'],ascending=True).head(25)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,...,black_percent,white_percent,yellow_percent,b_w_percent,only_upwards_percent,mean_distance_of_holds,Grade_numeric,Grade_thermo,last_move_diff,first_move_diff
444,HORSESHOE,6C,"[{'Id': 1914567, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",341768,"[J5, J7, H10, G14, G17, D18]",6,"{'J5toJ7': 2.0, 'J5toH10': 5.385164807134504, ...",2.25000,5.06250,...,1.000000,0.000000,0.000000,1.000000,0.000000,7.270097,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.748672,1.802399
384,HALF MOON VAR,6C+,"[{'Id': 1523657, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",28514,"[K5, J7, F10, I13, E15, D18]",6,"{'K5toJ7': 2.23606797749979, 'K5toF10': 7.0710...",3.37500,4.21875,...,0.333333,0.666667,0.000000,1.000000,0.000000,7.288009,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.986320,1.843548
40,MOONING,6C,"[{'Id': 1621565, 'Description': 'A9', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",172010,"[A9, D18, E7, E12, F14, F5, G17, K12]",8,"{'A9toD18': 9.486832980505138, 'A9toE7': 4.472...",2.25000,5.06250,...,0.500000,0.375000,0.125000,0.875000,0.000000,7.057525,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.723144,1.843548
324,CROSS THROUGH,7A,"[{'Id': 1710146, 'Description': 'B9', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",20700,"[B9, E7, E12, F14, F5, G18, I16]",7,"{'B9toE7': 3.605551275463989, 'B9toE12': 4.242...",5.06250,3.37500,...,0.142857,0.857143,0.000000,1.000000,0.000000,6.701210,3,"[1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.707096,1.843548
426,BOULDERWELT,6C,"[{'Id': 1528202, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",41029,"[F5, E7, H10, E14, G18]",5,"{'F5toE7': 2.23606797749979, 'F5toH10': 5.3851...",2.25000,5.06250,...,0.400000,0.600000,0.000000,1.000000,0.000000,6.967240,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.172805,1.843548
371,BETWEEN THE ****S,6C+,"[{'Id': 1532533, 'Description': 'G4', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",53436,"[G4, G6, G9, C11, E12, B12, E14, B16, E18]",9,"{'G4toG6': 2.0, 'G4toG9': 5.0, 'G4toC11': 8.06...",3.37500,3.37500,...,0.666667,0.333333,0.000000,1.000000,0.000000,6.208003,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.750901,1.881420
57,THE SENDTRAIN,6C,"[{'Id': 1718034, 'Description': 'E12', 'IsStar...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",30524,"[E12, G4, G6, G9, G15, I14, I18, J7]",8,"{'E12toG4': 8.246211251235321, 'E12toG6': 6.32...",2.25000,3.37500,...,1.000000,0.000000,0.000000,1.000000,0.000000,6.550190,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.658266,1.881420
363,WOLFE CRYAR,7A,"[{'Id': 1688747, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",313875,"[K5, J8, F11, G14, E16, G18]",6,"{'K5toJ8': 3.1622776601683795, 'K5toF11': 7.81...",5.06250,5.06250,...,0.500000,0.500000,0.000000,1.000000,0.000000,6.901635,3,"[1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.646800,1.920326
73,BRZÃ“ZON 2,6B+,"[{'Id': 1698086, 'Description': 'A18', 'IsStar...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",29360,"[A18, C13, D15, G13, H10, J8, K5]",7,"{'A18toC13': 5.385164807134504, 'A18toD15': 4....",1.50000,2.25000,...,0.571429,0.428571,0.000000,1.000000,0.000000,7.195240,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.794622,1.920326
72,BITTER,6B+,"[{'Id': 1842078, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",262846,"[E13, E15, E18, G8, H11, J8, K5]",7,"{'E13toE15': 2.0, 'E13toE18': 5.0, 'E13toG8': ...",1.50000,2.25000,...,0.000000,1.000000,0.000000,1.000000,0.000000,6.502686,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.669783,1.920326
61,WINKYLANDIA,6C,"[{'Id': 1743813, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",320533,"[K5, J8, I10, E12, H14, E15, D18]",7,"{'K5toJ8': 3.1622776601683795, 'K5toI10': 5.38...",2.25000,2.25000,...,0.428571,0.428571,0.142857,0.857143,0.000000,6.571933,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",3.200586,1.920326
42,OVN,6C,"[{'Id': 1639789, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",307834,"[K5, J9, F14, J8, F10, E18, I16]",7,"{'K5toJ9': 4.123105625617661, 'K5toF14': 10.29...",2.25000,2.25000,...,0.000000,1.000000,0.000000,1.000000,0.000000,6.711441,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.817189,1.920326
43,PE3/1,6C,"[{'Id': 1698100, 'Description': 'E8', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",66038,"[E8, E12, F14, F10, G18, I13, J8, K5]",8,"{'E8toE12': 4.0, 'E8toF14': 6.082762530298219,...",2.25000,2.81250,...,0.250000,0.750000,0.000000,1.000000,0.000000,6.062333,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.849834,1.920326
82,EASY-PEASY LEMON SQUEEZY,6B+,"[{'Id': 1671017, 'Description': 'J8', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",311645,"[J8, I10, K5, I14, E15, I18]",6,"{'J8toI10': 2.23606797749979, 'J8toK5': 3.1622...",1.50000,2.25000,...,0.500000,0.500000,0.000000,1.000000,0.000000,6.738607,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.877752,1.920326
311,B.O.B.,7A,"[{'Id': 1698142, 'Description': 'A18', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",297887,"[A18, C12, D15, H14, I10, J8, K5]",7,"{'A18toC12': 6.324555320336759, 'A18toD15': 4....",5.06250,5.06250,...,0.428571,0.285714,0.285714,0.714286,0.000000,7.461937,3,"[1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",6.025356,1.920326
50,SLIGHTLY SKEWED,6C,"[{'Id': 1697927, 'Description': 'E18', 'IsStar...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",25043,"[E18, G13, I16, J8, K5, K11]",6,"{'E18toG13': 5.385164807134504, 'E18toI16': 4....",2.25000,2.25000,...,0.000000,1.000000,0.000000,1.000000,0.000000,6.958682,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.901719,1.920326
420,ATAUALPA,6C,"[{'Id': 1695363, 'Description': 'E18', 'IsStar...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",139394,"[E18, F14, H11, I11, I16, J8, K5]",7,"{'E18toF14': 4.123105625617661, 'E18toH11': 7....",2.25000,2.25000,...,0.000000,1.000000,0.000000,1.000000,0.000000,6.287447,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.817189,1.920326
98,MARK2,6B+,"[{'Id': 1519324, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",20461,"[K5, J8, H11, G13, E15, G18]",6,"{'K5toJ8': 3.1622776601683795, 'K5toH11': 6.70...",1.50000,2.25000,...,0.000000,1.000000,0.000000,1.000000,0.000000,6.553225,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.764773,1.920326
399,PHO MAI,6C+,"[{'Id': 1555464, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",125109,"[K5, J8, H11, E13, E14, A14, E18]",7,"{'K5toJ8': 3.1622776601683795, 'K5toH11': 6.70...",3.37500,3.37500,...,0.285714,0.714286,0.000000,1.000000,0.000000,6.942959,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.913452,1.920326
110,SOLIDARITY,6B+,"[{'Id': 1899290, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",339861,"[K5, J8, H10, G13, C13, D17, B18, B9]",8,"{'K5toJ8': 3.1622776601683795, 'K5toH10': 5.83...",1.50000,2.25000,...,0.250000,0.750000,0.000000,1.000000,0.000000,7.363954,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.958268,1.920326
439,FULL MOON PARTY,6C,"[{'Id': 1574199, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",178758,"[K5, J8, H11, I13, E15, D17, B18]",7,"{'K5toJ8': 3.1622776601683795, 'K5toH11': 6.70...",2.25000,2.25000,...,0.000000,1.000000,0.000000,1.000000,0.000000,7.251014,1,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.583701,1.920326
115,TBA WARMUP 1,6B+,"[{'Id': 1711301, 'Description': 'D17', 'IsStar...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",158100,"[D17, E12, E13, F10, F7, G18, H5]",7,"{'D17toE12': 5.0990195135927845, 'D17toE13': 4...",1.50000,5.06250,...,0.285714,0.714286,0.000000,1.000000,0.000000,6.253376,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.849834,1.942809
404,"RIGHTNESS, PT.3",6C+,"[{'Id': 1697875, 'Description': 'E15', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",49191,"[E15, H18, H5, I10, I12, J7]",6,"{'E15toH18': 4.242640687119285, 'E15toH5': 10....",3.37500,3.37500,...,0.500000,0.166667,0.333333,0.666667,0.000000,6.607015,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",136.841622,1.942809
302,WANG SPECIAL 2,7A+,"[{'Id': 1549251, 'Description': 'H5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",105100,"[H5, H8, C10, I9, F14, G18]",6,"{'H5toH8': 3.0, 'H5toC10': 7.0710678118654755,...",7.59375,5.06250,...,0.500000,0.500000,0.000000,1.000000,0.166667,6.588438,4,"[1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.208454,1.970586
330,GANTRISCHLI,7A,"[{'Id': 1718072, 'Description': 'A18', 'IsStar...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",46458,"[A18, B13, C8, D15, F11, H8, H5]",7,"{'A18toB13': 5.0990195135927845, 'A18toC8': 10...",5.06250,7.59375,...,0.857143,0.142857,0.000000,1.000000,0.000000,6.842987,3,"[1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.815132,1.970586

In [121]:
problems[problems["Grade"]=="6C+"].sort_values(by=['first_move_diff'],ascending=True).head(25)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,...,black_percent,white_percent,yellow_percent,b_w_percent,only_upwards_percent,mean_distance_of_holds,Grade_numeric,Grade_thermo,last_move_diff,first_move_diff
371,BETWEEN THE ****S,6C+,"[{'Id': 1532533, 'Description': 'G4', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",53436,"[G4, G6, G9, C11, E12, B12, E14, B16, E18]",9,"{'G4toG6': 2.0, 'G4toG9': 5.0, 'G4toC11': 8.06...",3.375,3.37500,...,0.666667,0.333333,0.000000,1.000000,0.000000,6.208003,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.750901,1.163019
384,HALF MOON VAR,6C+,"[{'Id': 1523657, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",28514,"[K5, J7, F10, I13, E15, D18]",6,"{'K5toJ7': 2.23606797749979, 'K5toF10': 7.0710...",3.375,4.21875,...,0.333333,0.666667,0.000000,1.000000,0.000000,7.288009,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.986320,1.215748
404,"RIGHTNESS, PT.3",6C+,"[{'Id': 1697875, 'Description': 'E15', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",49191,"[E15, H18, H5, I10, I12, J7]",6,"{'E15toH18': 4.242640687119285, 'E15toH5': 10....",3.375,3.37500,...,0.500000,0.166667,0.333333,0.666667,0.000000,6.607015,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",136.841622,1.363901
383,GESIER-RIGHT HAND,6C+,"[{'Id': 1709872, 'Description': 'D17', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",85826,"[D17, E12, E13, G8, H18, I7, I11, K5]",8,"{'D17toE12': 5.0990195135927845, 'D17toE13': 4...",3.375,3.37500,...,0.250000,0.625000,0.125000,0.875000,0.000000,6.644398,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",20.818574,1.395082
399,PHO MAI,6C+,"[{'Id': 1555464, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",125109,"[K5, J8, H11, E13, E14, A14, E18]",7,"{'K5toJ8': 3.1622776601683795, 'K5toH11': 6.70...",3.375,3.37500,...,0.285714,0.714286,0.000000,1.000000,0.000000,6.942959,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.913452,1.411161
386,HER COMES THE KING,6C+,"[{'Id': 1697862, 'Description': 'A9', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",55506,"[A9, A14, D17, E8, E18, F11, F5]",7,"{'A9toA14': 5.0, 'A9toD17': 8.54400374531753, ...",3.375,3.37500,...,0.571429,0.428571,0.000000,1.000000,0.000000,6.854054,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.757773,1.440431
397,ONE SUMMER EASY,6C+,"[{'Id': 1526712, 'Description': 'H5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",37091,"[H5, J8, E10, E12, D15, G15, H16, K18]",8,"{'H5toJ8': 3.605551275463989, 'H5toE10': 5.830...",3.375,4.21875,...,0.625000,0.375000,0.000000,1.000000,0.000000,6.547785,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.027744,1.499289
382,GESIER,6C+,"[{'Id': 1721130, 'Description': 'D17', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",55417,"[D17, E12, E13, F5, G8, H18, I7, I11]",8,"{'D17toE12': 5.0990195135927845, 'D17toE13': 4...",3.375,3.37500,...,0.250000,0.625000,0.125000,0.875000,0.000000,6.405869,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",20.818574,1.584687
375,COBIA,6C+,"[{'Id': 1527523, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39071,"[F5, G9, B11, E12, A14, D15, D18]",7,"{'F5toG9': 4.123105625617661, 'F5toB11': 7.211...",3.375,3.37500,...,0.714286,0.285714,0.000000,1.000000,0.000000,6.095436,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.746600,1.595092
376,DANIELSAN,6C+,"[{'Id': 1718086, 'Description': 'G14', 'IsStar...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",199740,"[G14, G18, H5, J16, J8, J5, K11]",7,"{'G14toG18': 4.0, 'G14toH5': 9.055385138137417...",3.375,5.06250,...,0.571429,0.428571,0.000000,1.000000,0.000000,6.961063,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.751947,1.626821
377,DEUK5,6C+,"[{'Id': 1864930, 'Description': 'A18', 'IsStar...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",69372,"[A18, B11, D15, E7, F10, G4]",6,"{'A18toB11': 7.0710678118654755, 'A18toD15': 4...",3.375,7.59375,...,0.500000,0.500000,0.000000,1.000000,0.000000,7.172085,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.057310,1.653562
364,#2 KH,6C+,"[{'Id': 1667169, 'Description': 'E10', 'IsStar...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",127086,"[E10, E18, F14, H16, H5, J9, J8, K5]",8,"{'E10toE18': 8.0, 'E10toF14': 4.12310562561766...",3.375,3.37500,...,0.250000,0.750000,0.000000,1.000000,0.000000,6.895349,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.707096,1.724833
395,NIMBLE NIMROD,6C+,"[{'Id': 1525882, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",34688,"[J5, G9, F12, C13, D17, A18]",6,"{'J5toG9': 5.0, 'J5toF12': 8.06225774829855, '...",3.375,4.21875,...,0.666667,0.333333,0.000000,1.000000,0.000000,7.341882,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.849834,1.743645
391,LA PASSE DU MOINEAU,6C+,"[{'Id': 1575138, 'Description': 'A5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",181440,"[A5, B8, C10, H10, F14, G18]",6,"{'A5toB8': 3.1622776601683795, 'A5toC10': 5.38...",3.375,5.06250,...,0.166667,0.833333,0.000000,1.000000,0.000000,6.954470,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.208454,1.764445
370,BALL-O-FUN,6C+,"[{'Id': 1525736, 'Description': 'A5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",34387,"[A5, B8, E9, F10, E11, H12, G15, J16, E18]",9,"{'A5toB8': 3.1622776601683795, 'A5toE9': 5.656...",3.375,7.59375,...,0.444444,0.555556,0.000000,1.000000,0.000000,6.286700,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.813987,1.764445
408,SWING HARD,6C+,"[{'Id': 1528315, 'Description': 'G4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",41345,"[G4, C10, I12, H8, F14, G18]",6,"{'G4toC10': 7.211102550927978, 'G4toI12': 8.24...",3.375,5.06250,...,0.333333,0.500000,0.166667,0.833333,0.000000,6.922336,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",4.403165,1.785773
381,FROGLEG,6C+,"[{'Id': 1536949, 'Description': 'B3', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",66446,"[B3, B8, B9, A12, D12, B16, G18]",7,"{'B3toB8': 5.0, 'B3toB9': 6.0, 'B3toA12': 9.05...",3.375,5.06250,...,0.000000,1.000000,0.000000,1.000000,0.142857,6.814250,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.208551,1.802399
412,WAHOO,6C+,"[{'Id': 1697922, 'Description': 'B11', 'IsStar...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39074,"[B11, D18, D15, F5, H10]",5,"{'B11toD18': 7.280109889280518, 'B11toD15': 4....",3.375,3.37500,...,0.600000,0.400000,0.000000,1.000000,0.000000,7.212966,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.986718,1.804434
387,HOCUS POCUS,6C+,"[{'Id': 1844828, 'Description': 'B16', 'IsStar...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",23261,"[B16, D15, D11, E18, F5, H10]",6,"{'B16toD15': 2.23606797749979, 'B16toD11': 5.3...",3.375,3.37500,...,0.500000,0.500000,0.000000,1.000000,0.000000,6.644434,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.603066,1.804434
367,ACG39,6C+,"[{'Id': 1667138, 'Description': 'B9', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",38855,"[B9, E15, F13, F7, G18, H11, I4]",7,"{'B9toE15': 6.708203932499369, 'B9toF13': 5.65...",3.375,5.06250,...,0.142857,0.857143,0.000000,1.000000,0.000000,6.863189,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.732786,1.815282
407,SOFT THE PUZZLE,6C+,"[{'Id': 1751649, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",321511,"[E6, G9, G10, J5, I12, H16, E18, F14]",8,"{'E6toG9': 3.605551275463989, 'E6toG10': 4.472...",3.375,3.37500,...,0.625000,0.250000,0.125000,0.875000,0.000000,6.304375,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.707096,1.819777
373,BOULDERGURU.DE,6C+,"[{'Id': 1538566, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",71109,"[J5, E6, H8, C10, E12, A14, D18]",7,"{'J5toE6': 5.0990195135927845, 'J5toH8': 3.605...",3.375,5.06250,...,0.857143,0.142857,0.000000,1.000000,0.000000,7.110061,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.040404,1.819777
401,PIXEL BRICKS,6C+,"[{'Id': 1880123, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",337509,"[K5, F7, I11, F14, D17, B18]",6,"{'K5toF7': 5.385164807134504, 'K5toI11': 6.324...",3.375,2.25000,...,0.000000,1.000000,0.000000,1.000000,0.000000,7.937519,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.770149,1.869050
394,LEFT JAB,6C+,"[{'Id': 1535997, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",63371,"[K5, F7, F10, E12, I13, G15, I18]",7,"{'K5toF7': 5.385164807134504, 'K5toF10': 7.071...",3.375,5.06250,...,0.428571,0.571429,0.000000,1.000000,0.000000,6.410094,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.766895,1.869050
390,JELLY BELLY,6C+,"[{'Id': 1667117, 'Description': 'B15', 'IsStar...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",25577,"[B15, B11, D18, E14, F10, F7, K5]",7,"{'B15toB11': 4.0, 'B15toD18': 3.60555127546398...",3.375,5.06250,...,0.428571,0.571429,0.000000,1.000000,0.000000,7.022369,2,"[1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.730472,1.869050

In [118]:
problems.to_csv("dataset_draft3.csv")